/* HEADER */

.header-container{
    border-top: 16px solid #323232;
    justify-content: center;
    align-items: center;
}

.header-menu{
    display:flex;
}

.drop-down-menu{
    visibility: hidden;
}

.menu-item{
    list-style:none;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu-item a{
    padding:2vw;
    text-decoration: none;
    color: #323232;
    border-bottom:2px solid #323232;
    font-weight: 500;
    transition: all 0.5s;
    padding:5px;
    font-size: 1.2em;
}

.menu-item a:hover{
    text-decoration: none;
    color: #323232;
    border-bottom:8px solid #32323280;
    font-weight: 700;
 
}

.header-logo{
    margin:0;
    text-align: center;
    border-radius: 0px 0px 75px 75px;
    transition: all 0.5s;
}

@media (max-width:576px) {
    /* .header-menu>.menu-item{
        list-style:none;
        text-align: right;
        align-items: right;
        display: inline-flex;
        justify-content: flex-end;
    } */

    .header-menu>.menu-item{
        list-style:none;
        text-align: right;
        align-items: right;
        display: inline-flex;
        justify-content: flex-end;
        font-weight: 800;
    }
    .header-menu{
        margin-right: 10%;
        background-color: #000;
    }
    .header-menu#items{

        margin-right: 0px;
        padding-right: 10%;;
    }

    .header-logo{
        width: 120px;
        height: 120px;
        margin-left: 10%;
    }

}


/* FOOTER */

.footer-container{
    background-color: #000000;
    color: #fff;
}



.footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-menu-items a{
    text-align: right;
    margin:5px;
}

.footer-menu-rrss{
    align-items: center;
    text-align: center;
}
.footer-menu-rrss a{
    text-align: left;
    display: flex;
    align-items: center;
    margin:5px;
}


.footer-menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    align-items: center;
}


.footer-menu-rrss, .footer-menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;

}

.footer-menu-items a{
    text-align: right;
}
.footer-menu-items a, .footer-menu-rrss a{
    color:#fff;
    font-weight: 700;
} 

.footer-menu-items, .footer-menu-items, .footer-menu-rrss{
    width: 33%;
} 

.menu-item .footer-button{
    display: flex;
}

.footer-button-text{
    margin: 0px;
}



@media (max-width:576px) {

    .drop-down-menu{
        visibility: visible;
    }
    .header-container{
        display:none;
    }

    .footer-logo{
        width: 150px;
        height: 150px;
    }

    .footer-menu-items, .footer-menu-items, .footer-menu-rrss{
        flex-direction: row;
        width: 100%;
        font-size: 1em;
    }
    .footer-menu-rrss a{
        border: 0px;
    }

    .footer-button-text{
        display: none;
    }

    .footer-button{
        font-size: 1.5em;
    }
    .footer-container{
        padding-top: 20px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .footer-logo{
        width: 200px;
        height: 200px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .footer-logo{
        width: 300px;
        height: 300px;
    }
}


