
.nav-link{
    background-color: #fff !important ;
    color: #000 !important;
}

.nav-link.active{
    background-color: #000 !important ;
    color: #fff !important;
}


.PhoneInputInput{
    border: 1px !important;
}


.nav-link {
    border-bottom:1px solid #000;
}